<%=link_to "Guests", guests_path%><br>
<%=link_to "Episodes", episodes_path%><br>
<%=link_to "Book an Appearance", new_appearance_path%><br>




<h3>An Appearance show page has been added.</h3>
<h4>You can test it out by creating a new appearance <%=link_to "here", new_appearance_path%></h4>
<h4>If there's any problem with the information about the appearance, you will now be able to edit the information!</h1>
<h4>Each appearance is now also associated with a producer</h1>
<h4>Validation to make sure the rating is from 1-5 has also been added</h4>
<h4>Navigation has also been added to the layout</h4>
